.env
.cursorrules
db.sqlite3
db.sqlite3-journal
# Ignore Django migrations
*/migrations/*.py
!*/migrations/__init__.py
*.pyc
deepblue-django/deepblue/__pycache__/*

deepblue-django/deepblue/__pycache__/settings.cpython-310.pyc
deepblue-django/deepblue_maps/__pycache__/admin.cpython-310.pyc
deepblue-django/deepblue_maps/migrations/*.py
deepblue-django/deepblue_maps/migrations/__pycache__/*
